<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-4 text-center">
                <h2 class="section-heading">PhD research</h2>
                <hr class="light">
                <p class="text-faded">Thesis title: Microbial degradation of subsurface coal seams</p>
                <ol class="text-faded">Expected completion date: 2nd of October, 2021</ol>
<!--                 <a href="#" class="btn btn-default btn-xl">Get started!</a> -->
                <br><p class="light">Research breakdown</p>
                <ol class="text-faded">
                    <li>Identifying components of coal that are biodegraded by microbial communities sourced from the same coal</li>
                    <br><li>Determining which microbes are capable of aromatic compound degradation (a major component of coal that is generally considered resistant to anaerobic biodegradation</li>
                    <br><li>Finding the biogeographic distribution of methanogenic microbes in coal seams</li>
                </ol>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-4 text-center">
                <h2 class="section-heading">MRes Research</h2>
                <hr class="light">
                <p class="text-faded">Thesis title: Thermal maturities and inferred palaeoenvironments of hydrocarbons from the southern Sydney Basin<p/>
                <ol class="text-faded">Completed 2016 to 2017</ol>
                <br><ol class="text-faded">Identifying palaeoenvironmental conditions during the mid-Permian (~270 million years ago) using hydrocarbons from a drillcore in the southern Sydney Basin</ol>
            </div>
        </div>
    </div>
</section>
