<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">PhD research</h2>
                <hr class="light">
                <p class="text-faded">Thesis title: Microbial degradation of subsurface coal seams<br>Expected completion date: 2nd of October, 2021</p>
<!--                 <a href="#" class="btn btn-default btn-xl">Get started!</a> -->
                <p class="text-faded">Research breakdown</p>
                <ol>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ol>
            </div>
        </div>
    </div>
</section>
