<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Please contact me and tell me what to do with my life</h2>
                <hr class="primary">
                <p>Feel free to get in touch via any of the following</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
               <a href="https://twitter.com/{{ site.twitter_username }}">
                  <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                   <p>{{ site.twitter_username }}</p>
               </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
               <a href="https://www.linkedin.com/in/bronwyn-campbell-377317a6/">
               <i class="fa fa-linkedin fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Bronwyn Campbell</p>
               </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
               <a href="mailto:{{ site.email }}">
               <i class="fa fa-envelope-o fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                   <p>bronwyn.campbell<br>@mq.edu.au</p>
               </a>
            </div>
<!--             <div class="col-lg-2 col-lg-offset-1 text-center">
               <a href="https://github.com/{{ site.github_username }}">
               <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                   <p>{{ site.github_username }}</p>
               </a>
            </div> -->
        </div>
    </div>
</section>
