<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Bronwyn Campbell</h1>
                <h3>MRes, BSc<h3>
                <h2>PhD candidate<h2>
            <hr>
            <a style="margin-bottom:0.25cm;" href="https://www.researchgate.net/profile/Bronwyn-Campbell-4" class="btn btn-primary btn-xl wow tada">Research Gate</a>
            <a style="margin-bottom:0.25cm;" href="https://orcid.org/0000-0003-0302-3331" class="btn btn-primary btn-xl wow tada">ORCID</a>
            <a style="margin-bottom:0.25cm;" href="https://scholar.google.com.au/citations?user=NlkC7cIAAAAJ&hl=en" class="btn btn-primary btn-xl wow tada">Google Scholar</a>
            <br><a style="margin-bottom:0.25cm;" href="https://github.com/bronwyncc" class="btn btn-primary btn-xl wow tada">GitHub</a>
            <a style="margin-bottom:0.25cm;" href="https://twitter.com/bronwyncc" class="btn btn-primary btn-xl wow tada">Twitter</a>
            <a style="margin-bottom:0.25cm;" href="https://www.linkedin.com/in/bronwyn-campbell-377317a6/" class="btn btn-primary btn-xl wow tada">LinkedIn</a>
        </div>
    </div>
</header>
                    
