<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Key Research Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Scientific writing</h3>
                    <p class="text-muted">Journal articles,<br>conference abstracts,<br>grant applications,<br>oral presentations,<br>posters</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fal fa-4x fa-chart-network wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Organic geochemistry</h3>
                    <p class="text-muted">Identification of organic molecules</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-bacterium wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Microbiology</h3>
                    <p class="text-muted">Microbial community cultivation,<br>DNA extraction and purification</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Persistence</h3>
                    <p class="text-muted">Working through the existential crises</p>
                </div>
            </div>
        </div>
    </div>
</section>
